<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 col-lg-2 bg-dark text-white">
      <div class="sidebar-sticky pt-3">
        <div class="text-center pt-4 pb-3">
          <div class="avatar avatar-xl mb-2">
            <span class="fa-solid fa-user-circle fa-2x text-white"></span>
          </div>
          <h5 class="mt-2 text-white">Hola, {{currentUser?.IdUsuario}}.</h5>
        </div>

        <ul class="nav flex-column">
          <ng-container *ngIf="!modulos || modulos.length === 0">
            <li class="nav-item text-center mt-4">
              <span class="text-muted">No tienes módulos asignados</span>
            </li>
          </ng-container>
          <ng-container *ngFor="let modulo of modulos">
            <li class="nav-item fw-bold mt-3 mb-2">
              <span>{{ modulo.modulo }}</span>
            </li>
            <ng-container *ngFor="let menu of modulo.menus">
              <li class="nav-item m-2 fw-semibold d-flex align-items-center">
                <i class="bi bi-folder me-2"></i>
                <span class="text-muted">{{ menu.menu }}</span>
              </li>
              <ng-container *ngFor="let opcion of menu.opciones">
                <li class="nav-item ms-4 mb-1">
                  <a class="nav-link text-white d-flex align-items-center"
                     [routerLink]="opcion.pagina"
                     routerLinkActive="active">
                    <i class="bi bi-chevron-right me-2"></i>
                    {{ opcion.opcion }}
                  </a>
                </li>
              </ng-container>
            </ng-container>
          </ng-container>
          <li class="nav-item mb-2 mt-3">
            <a class="nav-link text-white d-flex align-items-center" href="#"
              (click)="logout(); $event.preventDefault()">
              <span class="nav-link-icon me-2">
                <span class="fa-solid fa-arrow-right-from-bracket"></span>
              </span>
              Cerrar Sesión
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Main Content -->
    <div class="col-md-9 col-lg-10 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>